        
        #span1 {
            font-size: 25px;
            font-weight:bold;
            position:absolute;top:68px;left:220px;
        }
        #span2 {
            font-size: 25px;
            font-weight:bold;
            position:relative;top:0px;left:2px;
        }

        #span3 {
            font-size: 20px;
            position:absolute;top:28px;left:12px;
        }

        #span4 {
            font-size: 20px;
            position:absolute;top:93px;left:228px;
        }
        #span5 {
            font-size: 25px;
            font-weight:bold;
            position:absolute;top:50px;left:8px;
        }
        #span6 {
            font-size: 20px;
            position:absolute;top:77px;left:12px;
        }
        #span7 {
            font-size: 20px;
            position:relative;top:0px;left:6px;
        }
        #span8 {
            font-size: 25px;
            font-weight:bold;
            position:absolute;top:270px;left:50px;
        }
        #span9 {
            font-size: 20px;
            position:absolute;top:300px;left:53px;
            
                }
        #span10 {
            font-size: 25px;
            font-weight:bold;
            position:absolute;top:580px;left:50px;
        }
        #span11 {
            font-size: 20px;
            position:absolute;top:605px;left:53px;
        }
        #span12 {
            font-size: 25px;
            font-weight:bold;
            position:absolute;top:580px;left:650px;
        }
        #span13 {
            font-size: 20px;
            position:absolute;top:605px;left:653px;
        }
        #titDiv {
            position:absolute;top:15px;left:210px;
            height:145px;
            width:1100px;
            background-color:gainsboro;
            padding:2px;
            border-color: black;
            border-top-style:double;
            border-left-style:double;
            border-right-style:double;
        }
        #eduDiv {
            position:absolute;top:165px;left:40px;
            height:470px;
            width:1266px;
            background-color:gainsboro;
            padding:4px;
            border-right-style:double;
            border-left-style:double;
            border-bottom-style:double;
            ;
        }
